<section>
  <% event.countdown.each do | countdown | %>
  <div data-countdown-date="<%= countdown.countdownDate %>" class="slpEventCountdown slp-commit-grid slp-relative slp-mb-64" style="background-image: url('<%= countdown.background %>');">
    <div class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp-left-0 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#F2F2F2" />
        <path
          d="M22.1999 13.7168C21.9665 13.7168 21.7427 13.6241 21.5777 13.4591C21.4126 13.294 21.3199 13.0702 21.3199 12.8368V10.76H18.6799V11.3584C18.6799 11.5918 18.5872 11.8156 18.4222 11.9807C18.2571 12.1457 18.0333 12.2384 17.7999 12.2384C17.5665 12.2384 17.3427 12.1457 17.1777 11.9807C17.0126 11.8156 16.9199 11.5918 16.9199 11.3584V9.88C16.9199 9.64661 17.0126 9.42278 17.1777 9.25775C17.3427 9.09271 17.5665 9 17.7999 9H22.1999C22.4333 9 22.6571 9.09271 22.8222 9.25775C22.9872 9.42278 23.0799 9.64661 23.0799 9.88V12.8368C23.0799 13.0702 22.9872 13.294 22.8222 13.4591C22.6571 13.6241 22.4333 13.7168 22.1999 13.7168Z"
          fill="#7D2BD9"
        />
        <path
          d="M26.0279 16.3391C25.854 16.3393 25.684 16.2879 25.5393 16.1915C25.3946 16.0951 25.2817 15.9579 25.2148 15.7974C25.148 15.6369 25.1302 15.4602 25.1637 15.2895C25.1972 15.1189 25.2805 14.962 25.4031 14.8387L26.3799 13.8399C26.5445 13.6742 26.7681 13.5807 27.0016 13.5798C27.2351 13.579 27.4594 13.671 27.6251 13.8355C27.7908 14.0001 27.8844 14.2237 27.8852 14.4572C27.886 14.6907 27.7941 14.915 27.6295 15.0807L26.6483 16.0663C26.5681 16.1505 26.4719 16.218 26.3654 16.2648C26.2589 16.3117 26.1442 16.3369 26.0279 16.3391Z"
          fill="#7D2BD9"
        />
        <path
          d="M13.9721 16.3391C13.7391 16.3382 13.5159 16.2448 13.3517 16.0795L12.3705 15.0939C12.2042 14.9282 12.1105 14.7033 12.1101 14.4685C12.1097 14.2337 12.2026 14.0084 12.3683 13.8421C12.534 13.6759 12.759 13.5822 12.9937 13.5818C13.2285 13.5814 13.4538 13.6742 13.6201 13.8399L14.5969 14.8255C14.7195 14.9489 14.8028 15.1057 14.8363 15.2764C14.8698 15.447 14.852 15.6237 14.7851 15.7842C14.7183 15.9448 14.6054 16.0819 14.4607 16.1783C14.316 16.2747 14.1459 16.3261 13.9721 16.3259V16.3391Z"
          fill="#7D2BD9"
        />
        <path
          d="M19.9999 22.64C19.8079 22.638 19.6217 22.5733 19.4699 22.4557C19.3181 22.338 19.2089 22.174 19.1591 21.9885C19.1092 21.803 19.1214 21.6063 19.1938 21.4284C19.2662 21.2505 19.3947 21.1012 19.5599 21.0032L23.2867 18.8032C23.3863 18.7308 23.5 18.6801 23.6204 18.6543C23.7408 18.6286 23.8653 18.6284 23.9858 18.6538C24.1063 18.6792 24.2201 18.7296 24.3199 18.8017C24.4196 18.8739 24.5032 18.9661 24.5651 19.0726C24.627 19.179 24.6658 19.2973 24.6791 19.4197C24.6925 19.5421 24.6799 19.6659 24.6424 19.7832C24.6049 19.9005 24.5431 20.0086 24.4612 20.1005C24.3792 20.1924 24.2789 20.2661 24.1667 20.3168L20.4399 22.508C20.3075 22.5902 20.1557 22.6357 19.9999 22.64Z"
          fill="#7D2BD9"
        />
        <path
          d="M20 23.0491C19.7328 23.0491 19.4716 22.9699 19.2495 22.8215C19.0274 22.6731 18.8542 22.4621 18.752 22.2153C18.6498 21.9684 18.623 21.6968 18.6751 21.4348C18.7272 21.1728 18.8559 20.9321 19.0448 20.7432C19.2337 20.5543 19.4744 20.4256 19.7364 20.3735C19.9985 20.3214 20.2701 20.3481 20.5169 20.4504C20.7637 20.5526 20.9747 20.7257 21.1231 20.9479C21.2715 21.17 21.3508 21.4312 21.3508 21.6983C21.3508 21.8757 21.3158 22.0514 21.2479 22.2153C21.1801 22.3791 21.0806 22.5281 20.9551 22.6535C20.8297 22.7789 20.6808 22.8784 20.5169 22.9463C20.353 23.0142 20.1774 23.0491 20 23.0491ZM20 21.2891C19.919 21.2891 19.8399 21.3131 19.7726 21.3581C19.7053 21.4031 19.6529 21.467 19.6219 21.5417C19.5909 21.6165 19.5828 21.6988 19.5986 21.7782C19.6144 21.8575 19.6534 21.9305 19.7106 21.9877C19.7679 22.0449 19.8408 22.0839 19.9201 22.0997C19.9995 22.1155 20.0818 22.1074 20.1566 22.0764C20.2313 22.0454 20.2952 21.993 20.3402 21.9257C20.3852 21.8584 20.4092 21.7793 20.4092 21.6983C20.4092 21.5898 20.3661 21.4857 20.2893 21.409C20.2126 21.3322 20.1085 21.2891 20 21.2891Z"
          fill="#7D2BD9"
        />
        <path
          d="M20 30.9999C17.675 30.9991 15.4346 30.1272 13.7207 28.556C12.0069 26.9849 10.9439 24.8286 10.7414 22.5124C10.5389 20.1962 11.2116 17.8882 12.6269 16.0435C14.0421 14.1988 16.0972 12.9514 18.3868 12.5471C20.6765 12.1429 23.0345 12.6112 24.9958 13.8598C26.9572 15.1083 28.3796 17.0464 28.9825 19.2919C29.5854 21.5374 29.325 23.9274 28.2528 25.9904C27.1805 28.0534 25.3742 29.6398 23.19 30.4367C23.0791 30.4954 22.9569 30.5297 22.8317 30.5373C22.7064 30.5449 22.581 30.5256 22.4638 30.4807C22.3466 30.4359 22.2404 30.3665 22.1522 30.2772C22.0641 30.1879 21.996 30.0808 21.9527 29.963C21.9093 29.8453 21.8916 29.7196 21.9008 29.5945C21.91 29.4693 21.9458 29.3476 22.0059 29.2375C22.066 29.1273 22.149 29.0313 22.2492 28.9558C22.3495 28.8804 22.4647 28.8272 22.5872 28.7999C24.3656 28.1646 25.8413 26.8859 26.7233 25.216C27.6053 23.5461 27.8295 21.6064 27.3517 19.7793C26.8739 17.9523 25.7287 16.3707 24.1422 15.3464C22.5556 14.3221 20.6428 13.9295 18.781 14.2462C16.9193 14.5628 15.2438 15.5656 14.085 17.0568C12.9263 18.5479 12.3684 20.4192 12.5214 22.3015C12.6744 24.1838 13.5272 25.9404 14.9116 27.2248C16.2961 28.5092 18.1116 29.2282 20 29.2399C20.2334 29.2399 20.4572 29.3327 20.6222 29.4977C20.7873 29.6627 20.88 29.8866 20.88 30.1199C20.88 30.3533 20.7873 30.5772 20.6222 30.7422C20.4572 30.9072 20.2334 30.9999 20 30.9999Z"
          fill="#7D2BD9"
        />
      </svg>
    </div>
    <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full">
      <%= countdown.heading %>
    </h2>
    <div class="slp-relative slp-col-span-full md:slp-col-span-10 slp-flex slp-flex-wrap slp-justify-between" id="slpEventCountdown">
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-days" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">days</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-hours" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">hours</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-minutes" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">minutes</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-seconds" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">seconds</div>
      </div>
    </div>
  </div>
  <% end %>  
</section>
